.emp_master {
  width: calc(100% - 32px);
  padding: 16px;
}

.emp_title {
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0px;
}

.emp_options {
  font-size: 11px;
  color: rgba(12,12,250,0.8);
  text-decoration: underline;
  cursor: pointer;
  margin-right: 8px;
}

.emp_options:hover {
    color: rgba(12,12,250,0.9);
}

.emp_options_disabled {
  color: rgba(120,120,120,1);
  cursor: none;
}

.emp_options_disabled:hover {
  color: rgba(120,120,120,1);
}

table {
  width: 100%;
  overflow: scroll;
}

th {
  text-align: left;
}

td {
  border : 1px solid black;
  padding: 4px 4px 4px 4px;
}

.table_edit {
  font-size: 11px;
  color: rgba(12,12,250,0.8);
  text-decoration: underline;
  cursor: pointer;
}

.table_delete {
  font-size: 11px;
  color: rgba(250,12,12,0.8);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 8px;
}

.table_edit:hover {
  color: rgba(12,12,250,0.9);
}

.table_delete:hover {
  color: rgba(250,12,12,0.9);
}

.model_master {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 10;
  background-color: rgba(25,25,25,0.9);
}

.model_panel {
  width : calc(100% - 32px);
  height: calc(100% - 32px);
  margin: 16px;
  background-color: white;
  border-radius: 16px;
  overflow: hiden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modelTitle {
  width: calc(100% - 32px);
  padding: 24px 16px 16px 16px;
  border-bottom: 1px solid rgba(50,50,50,0.4);
  display: flex;
  justify-content: space-between;
}

.modelBody {
  width: calc(100% - 32px);
  padding: 16px 16px 16px 16px;
  flex-grow: 2;
}

.modelAction {
  width: calc(100% - 32px);
  padding: 16px 16px 24px 16px;
  border-top: 1px solid rgba(50,50,50,0.4);
  display: flex;
  justify-content: flex-end;
}

.model_close {
  cursor: pointer;
}

.alert_master {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 11;
  background-color: rgba(25,25,25,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert_inner {
 
  margin: 16px;
  padding: 24px 24px 12px 24px;;
  background-color: white;
  overflow: hiden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alert_title {
  margin : 0px 0px 16px 0px;
}

.alert_button_zone {
  display: flex;
  justify-content: flex-end;
}